<% if @product and !@product.docs.empty? %>
  <table>
    <tr>
      <td><h3><span class="glyphicon glyphicon-file"></span> <%= Spree.t(:product_downloads) %></h3></td>
    </tr>
    <% if @product.docs.empty? %>
      <tr><td><p><%= Spree.t("none") %></p></td></tr>
    <% else %>
      <ul>
        <% @product.docs.each do |doc| %>
          <li>
            <%= link_to(doc.attachment.instance.caption, doc.attachment.url, { :target => "_blank" }) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </table>
<% end %>
