<% if @product and !@product.docs.empty? %>
  <h3><span class="glyphicon glyphicon-file"></span> <%= Spree.t(:product_downloads) %></h3>
  <% if @product.docs.empty? %>
    <p><%= Spree.t("none") %></p>
  <% else %>
    <ul>
      <% @product.docs.each do |doc| %>
        <li>
          <%= link_to(doc.attachment.instance.caption, doc.attachment.url, { :target => "_blank" }) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
